@use "../../styles/vars" as *;
@use "../../styles//fonts" as *;


html, body {
    color: $white;
    font-family: 'Eczar', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: calc(100vh - $footer-height);
}

body {
    padding-bottom: $footer-height;
    position: relative;
}

.app {

    &__nav {
        position: fixed;
        top: 0;
    }
}