@use "../../styles/vars" as *;
@use "../../styles//fonts" as *;

html {
    height: 100%;
}

body {
    color: $white;
    font-family: 'Eczar', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}



.app {

    &__footer {
        position: absolute;
        bottom: 0;
    }
}