@use "../../styles/vars" as *;
@use "../../styles//fonts" as *;

html {
    height: 100%;
}

body {
    color: $white;
    font-family: 'Eczar', sans-serif;
    display: flex;
    flex-direction: column;
}

.app {

    &__nav {
        position: fixed;
        top: 0;
    }

    &__footer {
        margin-top: auto;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}