.about-me {
    display: flex;
    flex-direction: column;
    padding: 1rem 3.5rem;
    text-align: center;

    &__heading {
        padding-bottom: 1rem;
    }

    &__links {
        padding: 1rem;
        text-decoration: none;
        color: inherit;
    }

    &__links-wrapper {
        display: flex;
        justify-content: center;
    }

    &__body-text {
        padding: 0.5rem 0;
    }
}